<article class="stock-info">
    <div id="animal-name" class="stock-box-display market-animal-font"><h4>{{animal_name}}</h4></div> 
    <div id="buy-price" class="stock-box-display market-animal-font"><h4>{{buy_price}}</h4></div> 
    <div id="sell-price" class="stock-box-display market-animal-font"><h4>{{sell_price}}</h4></div>
    <button id = "buy-{{this.id}}" data-buy-id="buy" data-buy-price ="{{buy_price}}"  data-animal-id="{{id}}" class="btn btn-sell" onclick="buyBtnHandler('{{this.id}}')">Buy</button> 
    <button id = "sell-{{this.id}}" data-sell-id="sell" data-sell-price ="{{sell_price}}"  data-animal-id="{{id}}" class="btn btn-sell" onclick="sellBtnHandler('{{this.id}}')">Sell</button>
</article>